<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AhoCorasick" version="1.1.5577.36525" targetFramework="net461" />
  <package id="LibLog" version="4.2.6" targetFramework="net461" developmentDependency="true" />
  <package id="morelinq" version="2.2.0" targetFramework="net461" />
</packages>